.logo-coag{
  margin: 10px;
}
.app-frame{
  background-color: white !important;
}
.app-frame .btn{
  margin-top:15px;
}
.app-frame .btn-link{
  color: #575757;
}
.app-frame .btn-primary{
  background-color: #0288d1;
}