.colorAzul{
    color:blue;
    font-weight: 600;
}
.acciones{
    border-bottom: 0.25px solid grey;
    color: #0288D1;
}
.muestrate{
    z-index: 999;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: white;
    border:grey  solid 0.5px;
    height:100vh;
    
}
.acciones-enter {
    opacity: 0.01;
  }
  
  .acciones-enter.acciones-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;

  }
  
  .acciones-leave {
    opacity: 1;
  }
  
  .acciones-leave.acciones-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
  .descripcion{
    font-size:x-small;
    font-weight: bold;
  }
  .Titulo{
   
    color:#A0A0A0;
   border-bottom: 1px solid grey 
  }
