.margen{
    padding-top:30px;
    padding-bottom:30px;
}
.nuevoExpedienteContainer{
    margin-top: 8px;
    background: #f9f9f9;
}
.nuevoExpedienteContainer .btn-primary{
    background-color: #0288d1;
}
.formulario{
    padding:30px;
    padding-top: 50px;
    border: 1px solid #dce1e5;
    background-color: white;
}
.inputDiv{
    margin-bottom:30px; 
}
.inputDiv p{
    margin-top:10px;
    color: #919191;
}
.inputDiv label{
    width:100%;
    text-transform: uppercase;
    margin-bottom:0;
}
.ubicacion{
    margin-top:25px;
}
.ubicacion .inputDiv input{
    width:100%;
}
.inputDiv input{
    width:300px;
    font-size: 13px;
    border: none;
    border-bottom: solid 1px #bcc7cd;
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, #0277bd 4%);
    background-position: -300px 0;
    background-size: 300px 100%;
    background-repeat: no-repeat;
    color: darken(#0277bd, 20%);
}
.inputDiv input::-webkit-input-placeholder{
    color:#cfcfcf;
}
.inputDiv input:focus{
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}
.inputDiv input:focus::-webkit-input-placeholder, .inputDiv input:valid::-webkit-input-placeholder {
    color: #919191;
}
.center-align{
    align-items: center;
    display: flex;
    justify-content: center;
}

.formularioNuevoExpediente{
    margin-bottom: 0.5em;
}