body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat"!important;
}
.ag-paging-panel {
  justify-content: center !important;
}

.ql-editor > * {
  font-size: 1rem !important;;
  font-family: "Roboto" !important;
}
.ql-tooltip{
  display: none !important;
}
.ql-editor ol li:not(.ql-direction-rtl), .ql-editor ul li:not(.ql-direction-rtl) {
   padding-left: 0!important;
}
.ql-editor ol, .ql-editor ul {
  padding-left: 0!important;
}