.slectedFunction{
  background-color: #2196f3 !important;
  color: white !important
}

.functionTipology{
  margin-bottom: 10px;
}
.m-t-0{
  margin-top: 0
}
.min-height-panel{
  min-height: 70vh
}
.button-column-static{
  width: 100px
}
.button-column-short{
  width: 50px
}
.selection{
  border: 2px solid dodgerblue
}
