.nav-expedient button:hover {
  background: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 0;
  padding: 4px 8px;
}

.openOption:hover {
  color: white;
  background: #2196f3;
}
.openOption span {
  color: white;
}
.vault-layout.dhx_widget {
  border: 0 transparent;
}
.vault-topbar,
.vault-file-grid,
.vault.dhx_widget {
  background-color: white !important;
}
.vault.dhx_widget .dhx-download-progress {
  height: 3.5px !important;
}
.paddingStructure {
  padding: 0 24px 0 0 !important;
}
.active:hover span {
  color: black !important;
}

.active:hover svg {
  color: black !important;
}
.dropSelector> input{
  left: unset !important;
}
